body {
  background-color: #f2013f; /* or whichever lighter color you chose */
}
.card-glass {
  background: #f41d52;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 2rem;
  max-width: 1000px;
  margin: 0.5rem auto;
  transition: all 0.3s;
}

.card-glass:hover {
  background: #f73366;
  border-color: rgba(255, 255, 255, 0.3);
}

.card-title,.brand-text {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  text-align: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr auto; /* label | value */
  row-gap: 1.5rem;
  column-gap: 2rem;
  align-items: center;
}

.stat-item {
  text-align: center;
}

.stat-label {
  font-size: 1.6rem;
  font-weight: 100;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.stat-value {
  font-size: 3rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

.stat-unit {
  font-size: 1.4rem;
  color: #FFFFFF;
  margin-top: 1rem;
}
@media (max-width: 450px) {
.stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

}

  
@media (max-width: 750px) {
  .stats-grid {
    grid-template-columns: 3fr;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .stat-value {
    font-size: 2.2rem;
  }

  .stat-label {
    font-size: 0.8rem;
  }

  .stat-unit {
    font-size: 0.8rem;
  }

  .card-glass {
    max-width: 700px;
    padding: 0.1 0.02 0.1 0.02rem;
  }
}

